<div class="index-container">
  <img src="images/beer.png" alt="beer cup">
  <button class="button-1" type="button"><a href="/beers">Check the Beers!</a></button>
  <button class="button-1" type="button"><a href="/random-beer">Random Beer!</a></button>
</div>