<h2>Login</h2>

<form action="/auth/login" method="POST">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username">
  </div>
    <br><br>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password">
  </div>
  {{#if message}}
  <div class="error-message">{{ message }}</div>
  {{/if}}
    <br><br>
  <div>
    <input type="submit" value="Log In">
    <a href="/auth/slack">Login With Slack</a> |
    <a href="/auth/google">Login With Google</a>
  </div>
  
  <p class="account-message">
    Don't you already have an account?
    <a href="/auth/signup">Signup</a>
  </p>
</form>