<form action="/edit-password/{{id}}" method="post">
<label for="password">Place your new password</label><input name="password" type="password">
<button type="submit">Save</button>
{{#if errorMessage}}
  <p>{{errorMessage}}</p>
{{/if}}
</form>