<form action="/create" method="post">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="Password">
  <label for="role">Role</label>
  <select name="role" id="role">
    <option value="Boss">Boss</option>
    <option value="Dev" selected>Dev</option>
    <option value="TA">TA</option>
  </select>
  <button type="submit">Save</button>
</form>