<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About</title>
  <link rel="stylesheet" href="stylesheet/style.css">
</head>

<body>

  <nav class="navbar">
    <h3>Awesome blue cars</h3>
    <ul class="nav-list">
      <a href="/">
        <li>Home</li>
      </a>
    </ul>
  </nav>
  <h1>About us</h1>
  <h2>This website displays three iconic blue cars.</h2>
  <img id="beetle" src="/images/Fusca.png" alt="Volksvagen Beetle Clipart" />
  <p>Press the button below to view them!</p>
  <a href="/cars"><button>Cars</button></a>

</body>

</html>