<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cars</title>
  <link rel="stylesheet" href="stylesheet/style.css">
</head>

<body>

  <nav class="navbar">
    <h3>Awesome blue cars</h3>
    <ul class="nav-list">
      <a href="/">
        <li>Home</li>
      </a>
      <a href="/about">
        <li>About us</li>
      </a>
    </ul>
  </nav>
  <h2>Porsche</h2>
  <p>This is a Porsche 911 Targa!</p>
  <img src="/images/Porsche.jpg" />
  <h2>Ferrari</h2>
  <p>This is a Ferrari 488 Spider! </p>
  <img src="/images/Ferrari.jpg" />
  <h2>Lamborghini</h2>
  <p>This is a Lamborghini Diablo! </p>
  <img src="/images/Diablo.jpg" />
</body>

</html>