<form action="/events/create" method="POST">
  <input type="text" name="name" placeholder="Event Name">
  <label for="deadLine">Enter Event Deadline</label>
  <input type="date" name="deadLine">
  <textarea name="description" placeholder="Event Description" rows="4" cols="50"></textarea>
  <input type="text" name="imageUrl" placeholder="Enter Event Image Link">
  <button type="submit">Create New Event</button>
</form>